<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Se for um arquivo ou diretório real, sirva-o diretamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redireciona todas as requisições para o index.html (SPA routing)
  RewriteRule ^ /index.html [L]
</IfModule>
